html
    head

        title!= "Repost " + id
    body
        - var hasLastPoster = !!repost.lastPoster.nick
        div
            a(href=url) !{url}
            br
            br

        div
             | Posted #{repost.total+1} times.
             p
                | First post by #{repost.firstPoster.nick} on #{repost.firstPoster.date} <br />

             if hasLastPoster
                | Last post by #{repost.lastPoster.nick} on #{repost.lastPoster.date}

